<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeet Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/products.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"> -->
    <link href="https://fonts.cdnfonts.com/css/abolition-test" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45b6a0c9b9.js" crossorigin="anonymous"></script>
    


</head>

<body>
    <nav class="main-nav">
        <h2><a style="color: inherit;
            text-decoration: inherit;" href="/home">Yeet Store</a></h2>
        <ul>
            <li><a href="/home">Home</a></li>
            
            <% if (user) { %>

            <li><a href="/cart">My Cart</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/auth/logout">Logout </a></li>
            <% }else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            <% } %>


        </ul>

    </nav>
    <nav class="sec-nav">
        <form  action="/searchproducts" method="post" id="searchForm">
            <input placeholder="<%= searchedProduct %>" type="text" name="findProduct" value="<%= searchedProduct %>"class="input" >
            <button style ="display: inline-block;" class="search-button"> Search</button>
            <select name="sortOption" value="createdAt" onchange="this.form.submit()">
                    <option > Sort By</option>
                    <option selected="selected" value="createdAt"> Date Added</option>
                    <option value="price">Price Low To High</option>
                    <option value="pricehightolow">Price High To Low</option>
                </select>
            </form>
    </nav>
    
    <div class="container">
        <% if(product.length<=0){ %>
            <h3 style="margin-left: 250px;">No Search Results found !</h3>
        <% } %>
        <% for(let i=0;i<1;i++){ %>
            <div class="row">
                <% for(let iterator in product){ %>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a
                                href="/products?category=<%=product[rating].category%>&product=<%=product[rating].name%>">
                                <img style="width: 40%;" src=<%=product[rating].image[0] %>></a>
                            <div class="overlay">
                                <button type="button" class="btn btn-light heart" title="Add to wishlist">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                                <form style="display: inline-block;" action="/addtocart" method="post">
                                    <input type="hidden" name="orderQuantity" value="1">
                                    <input type="hidden" name="id" value="<%=product[rating]._id %>">
                                    <input type="hidden" name="user" value="<%=user %>">
                                    <button type="submit" class="btn btn-light " title="Add to Cart">
                                        <i class="fa fa-cart-arrow-down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <% for(let rating=0;x<product[rating].rating;rating++){ %>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <% } %>
                                    <h3>
                                        <%=product[rating].name %>
                                    </h3>
                                    <h5>Rs.<%=product[rating].price%>.00</h5>
                        </div>

                    </div>
                    <% } %>

            </div>
            <% } %>
    </div>
    <%- include('./footer.ejs') %>
</body>